div{
    width: 30% !important;
    background-color: rgb(223, 223, 223)!important;
    padding: 2px !important;
    /* margin: auto; */
    float: center!important;
    border-radius:5px !important;
    margin-left: 30% !important;
    margin-top: 5% !important;
    
 }

input[type=text],[type=password]{
border-radius: 10px !important;
}
/* label{
    color:whitesmoke;

} */